{{define "menuAdmin"}}
<div class="row">
  <div class="span4">
    <div style="padding: 5px;">
      <div style="height: 70px; width: 120px;">
      <a href="/homeAdmin"><img src="/static/img/garuda-indonesia.png" alt="" style="display: block; margin: auto;" width="70" /></a>
    </div>
    <div style="width: 120px;">
      <h1 style="font-size:10px; text-align: center;">Mahkamah Konstitusi<br>Republik Indonesia</h1>
    </div>
    </div>
  </div>
  <div class="span8">
    <div class="navbar navbar-static-top">
      <div class="navigation">
        <nav>
          <ul class="nav topnav">
            <li>
              <a href="/homeAdmin">Home</a>
            </li>
            <li>
              <a href="/aboutAdmin">About</a>
            </li>
            <li>
              <a href="/kontakAdmin">MESSAGE</a>
            </li>
            <li>
              <a href="/artikelAdmin">ARTICLES</a>
            </li>
            <li>
              <a href="/pengguna">USERS</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{{end}}